.loading-indicator {
    text-align: right;
  margin-bottom: 20px;
    color: rgb(30, 50, 238);
  }

  
  .spinner-icon {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }