.loading-indicator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    color: #1a3dd8ef;
  }
  
  .spinner-icon {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }